﻿h1 {
   color: #606060;
   font-family: 'Segoe UI';
   font-size: x-large;
}

h2 {
   color: #606060;
   font-family: 'Segoe UI';
   font-size: large;
}

h3 {
   color: #606060;
   font-family: 'Segoe UI';
   font-size: medium;
}

h4 {
   color: #606060;
   font-family: 'Segoe UI';
   font-size: larger;
   font-weight: bold;
}

body {
   background-color: #ffffff;
   font-family: 'Calibri';
   font-size: medium;
}

.code_standard {
   background-color: White;
   color: Black;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_standard_bold {
   background-color: White;
   color: Black;
   font-family: 'Consolas';
   font-size: 11pt;
   font-weight: bold;
}

.code_purple-keyword {
   background-color: White;
   color: Purple;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_Class {
   background-color: White;
   color: #2b91af;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_Struct {
   background-color: White;
   color: navy;
   font-family: 'Consolas';
   font-size: 11pt;
   font-weight: bold;
}

.code_Method {
   background-color: White;
   color: #8000ff;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_Delegate {
   background-color: White;
   color: Purple;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_Event {
   background-color: White;
   color: #ff8000;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_enum {
   background-color: White;
   color: Olive;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_Interface {
   background-color: White;
   color: #8080ff;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_string {
   background-color: White;
   color: Maroon;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_comment {
   background-color: White;
   color: #40a420;
   font-family: 'Consolas';
   font-size: 11pt;
}

.code_blue {
   background-color: White;
   color: #0000ff;
   font-family: 'Consolas';
   font-size: 11pt;
}